.App {
    width: 30%;
    padding: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;

}

input[type=checkbox]{
    margin-right: .75em;
}

.todo-left {
    width: 100%;  
    overflow: hidden;
}

.todo-line {
    margin-top: 15px;
    margin-bottom: 10px;
}

.todo-items-remaining {
    color: rgb(199, 199, 199);
    text-align: right;
    width: 100%;
}

.todo-bottom-bar {
    display: flex;
    justify-content: space-between; 
}

.todo-top-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.todo-top-bar > * {
    margin-left: 10px;
}
@media only screen and (max-width: 1080px) {
    .container {
        width: 80%;
    }
} 
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
} 

